.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.footer{
position: absolute;
bottom: 40px;
right: 0;
left: 0;
font-weight: 500;
color:white;
&>div{
    &>a{
        color:white;
        text-decoration-color: none;
    }
}
}