.container{
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    padding:15px;
    border-bottom: solid rgb(201, 199, 199) 1px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.top_left{
 flex:4;
 display: flex;
 align-items: center;
 &>div{
    margin-left: 15px;
 }
 &>.logo{
    font-size: 30px;
    font-weight: 700;
    color:white;
    margin-right: 15px;
    color:#1e1ec8;
 }
 &>.top_left_item{
    color:black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .4s;
 }
 &>.top_left_item:hover{
    text-shadow: -5px 3px 0px rgba(0,0,0,0.2);
    margin-top: 2px;
    color:#1e1ec8;
 }
}
.top_right{
    flex:1;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    &>button{
        padding: 10px 20px;
        background-color: rgb(19 104 206);
        color:white;
        font-size: 16px;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-right: 15px;
        border-radius: 6px;
        border: none;
        outline:none;
        transition: all ease .2s;
        cursor: pointer;
    }
    &>button:active{
        margin-top: 5px;
    }
    &>button:hover{
        background-color: rgb(18, 96, 190);
        box-shadow: none;
        margin-top: 2px;
    }
    &>.logoutBtn{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        text-shadow: 1px 1px 1px #333333;
        &:hover{
            cursor: pointer;
            text-shadow: none;
            margin-top: 2px;
            color:#333333;
        }
    }
}
